$fuente_principal : "Winky Rough", sans-serif;


// Colores
$verde:#4CB8B3;
$rosa: #6A1E55;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #ffff;
$gris: #393646;
$negro-claro: #0C0C0C;
$yelow: #FBF3B9;
$vine: #C63C51;
$blue: #2E236C;



//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;