$fuente_principal : "Winky Rough", sans-serif;


// Colores
$verde:#1A1A1D;
$rosa: #6A1E55;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #ffff;



//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;