@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.lineup {
    h3, 
    .dia {
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.escenarios-contenedor {
    color: v.$blanco;
    @include m.contenedor;
    @include m.tablet{
        @include m.grid(2);
    }
}

.escenario {
    padding-top: 2rem;
    .nombre-escenario{
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }
}

.calendario{
    @include m.resetear-lista;
    li{
        padding: 2.5rem;
        font-weight: 700;
        color: #FBF3B9;
        span {
            font-weight: 400;
            color: v.$blanco;
        }
    }
}

.bg-amarillo {
    background-color: #2E236C;
    li:nth-child(odd){ 
        background-color: color.adjust(#2E236C, $lightness: 15%);//degradar colores en listas impares
    }
}

.bg-verde {
    background-color: #C63C51;
    li:nth-child(odd){ //odd impares even pares
        background-color: color.adjust(#C63C51, $lightness: 5%);
    }
}

